@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm})
        </th>
        <th>
            @Html.ActionLink("Inventory Count", "Index", new { sortOrder = ViewBag.InventoryCountSortParm })
        </th>
        <th>
            @Html.ActionLink("Weight", "Index", new { sortOrder = ViewBag.WeightSortParm })
        </th>
        <th>
            @Html.ActionLink("Volume", "Index", new { sortOrder = ViewBag.VolumeSortParm })
        </th>
        <th>
            Can Hold Liquid
        </th>
        <th>
            @Html.ActionLink("Cost", "Index", new { sortOrder = ViewBag.CostSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanHoldLiquid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>

    }
</table>
